body {
	font-family: "Optima";
	margin: 0;
	padding: 0;
}

.name {
	float: left;
	font-size: 2em;
}

.about {
	width: 100%;
	height: 100vh;
	background-color: #333333;
	color: #e6e6e6;
	position: absolute;
}

.about img {
	border-radius: 25%;
	padding: 1em 1em 1em 1em;
	width: 20%;
	float: left;
}

.about h1, p {
	padding-right: 2em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8c8c8c;
}

li {
    float: right;
}

li a {
    display: block;
    color: #800000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #cccccc;
}